@media screen and (min-width: 800px) {

  nav#site-navigation.main-navigation {
  clear: both;
  display: inline-block;
  float: left;
  width: 100%;
    background: $color__nav_background_color;


  ul {
    list-style: none
  }


  li {
    float: left;
    margin: 0px 25px 0px 25px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

  ul#top-menu {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding-left: 0;

    li:hover > ul,
    li.focus > ul {
      left: auto;
      margin-left: -120px
    }
  }

  ul.sub-menu {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    padding: 0;
    float: left;
    position: absolute;
    top: 44px;
    left: -999em;
    z-index: 99999;
    background: $color__nav_background_color;

    ul {
      left: -999em;
      top: 0;
    }

    li {
      &:hover > ul,
      &.focus > ul {
        left: 100%;
      }
    }

    a {
      width: 200px;
    }

    :hover > a,
    .focus > a {
    }

    a:hover,
    a.focus {
    }
}


.menu-toggle:before {
  content: "\2630";
  display: inline-block;
  margin-right: 5px;
}

  @media screen and (max-width: 800px) {
    ul#top-menu {
      display: none
    }
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: none;
  }
}

  button.menu-toggle {
  color: white;
  background-color: #23282d;
  border: none;
    padding: 10px;
  &:hover {
  }

  &:active,
  &:focus {

  }
}

}