div.ceremonies_page {
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 40px;
  display: inline-flex;
  div {
    padding: 1px;
    img {
      max-width: 100%;
      height: auto;
      max-height: 500px;
    }
  }
}

//Medium Screen
@media screen and (max-width: 81.25em) {
  div.ceremonies_page {
    img {
      max-height: 600px;
    }
  }

}

//Small Screen
@media screen and (max-width: 37.5em) {
  div.ceremonies_page {
    img {
    }
  }

}
