div.tiled-gallery.type-rectangular {
  background-color: $color__front_page_header_background;
  padding-top: 40px;
  padding-bottom: 40px;
}

div.fe_theme-hero {
  padding-bottom: 0;
  line-height: 0;
  background-color: $color__front_page_gallery;
}


#primary {
  margin-top: 0%;
  padding: 0%;
}
