div.fe_theme-hero {
  padding-bottom: 0;
  line-height: 0;
  background-color: $color__front_page_gallery;
}


#primary {
  margin-top: 0%;
  padding: 0%;
}

.front-page-gallery {
  display: flex;
  flex-wrap: wrap;
  img {
    max-width: 480px;
    max-height: 718px;
  }
}