div.gallery_index_page {
  padding-top: 40px;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 40px;
  flex-wrap: wrap;
  display: inline-flex;
  img {
    min-height: 375px;
  }
  div.gallery_center {
    max-width: 33%;
    margin: 2px;
    padding: 1px;
    a {
      background-color: #23282d;
      padding: 10px 5px;
      max-width: 49%;
      img {
        max-width: 100%;
        height: auto;
        max-height: 500px;
      }
    }
    a.gallery_center_left {
      float: left;
      padding-left: 5px;
    }
    a.gallery_center_right {
      float: right;
      padding-right: 5px;
    }
  }
  a.gallery_column {
    background-color: #23282d;
    padding: 10px 5px;
    margin: 2px;
    max-width: 33%;
    img {
      max-width: 100%;
      height: auto;
      max-height: 500px;
    }
  }
}

//Medium Screen
@media screen and (max-width: 81.25em) {
  div.gallery_index_page {
    img {
      min-height: 200px;
      max-height: 600px;

    }
  }

}

//Small Screen
@media screen and (max-width: 37.5em) {
  div.gallery_index_page {
    img {
      min-height: 0;
    }
  }

}
